<div class="containet mt-3">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>);">
    <div class="container">
      <h1><strong>Lists of the movies</strong>!</h1>
      <div class="add_list">
        <a class="btn btn-primary" href="http://127.0.0.1:3000/lists/new">Add new list</a>
      </div>
      <%# <p class="btn btn-primary"><%= link_to "Add new list", new_list_path %>
      <%# </p> %>
      <%# <p><%= link_to list_path(params[:id]) %></p>
  </div>
</div>
</div>
<div class="containet m-3">
  <div class="cards">
    <%  @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/300x200)">
        <%= list.name %>
      </div>
    <% end %>
  </div>
</div>
