<div class="containet mt-3">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/736x/d0/c9/17/d0c917f004159e073c87e20ffe6d4ea9.jpg);">
    <div class="container">
      <h1><strong>Lists of the movies</strong>!</h1>
      <div class="add_list">
        <a class="btn btn-primary" href="http://127.0.0.1:3000/lists/new">Add new list</a>
      </div>
    </div>
  </div>
</div>
<div class="containet m-3">
  <div class="cards">
    <%  @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://the-irishman.com/wp-content/uploads/2018/01/Webp.net-compress-image.jpg' %>)">
        <%= link_to list.name, list_path(list)%>
      </div>
    <% end %>
  </div>
</div>
