.form-container {
  background-color: rgba(#036EB7,0.5);
  color: #eee;
  border-radius: 2px;
  border: 1px solid #229FBC;
  padding: 32px;
  width: 50%;
  margin-top: 32px;
}
.button-submit {
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #0b86a1;
  background-color: rgba(#036EB7, 0.5);
}
