// Specific CSS for your home-page


body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://www.thespruce.com/thmb/WHDh42dmxIiAg5YuTftvBrqLevk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/zoysia-grass-plant-profile-4691117-hero-2c01933247654f5b8c694a49eb6fa7bc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-back-link {
  position: absolute;
  right: 36px;
  top: 16px;
  color: white;
}

.rating {
  position: absolute;
  right: 8px;
  top: 4px;
}
.card-description {
  position: absolute;
  right: 25%;
  bottom: 0;
}

.header {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
}

.home-img {
  position: absolute;
  object-fit: cover;
}

.maine-container{
  position: relative;
}
